# Google Apps Script yang memiliki alur login / akses akun.
# Browser dapat membatasi third-party cookies di dalam iframe.
VITE_TARGET_URL=https://script.google.com/macros/s/DEPLOYMENT_ID/exec
VITE_APP_TITLE=Secure GAS App
VITE_AUTO_CROP_GAS_BANNER=true
VITE_GAS_BANNER_HEIGHT=40
VITE_FRAME_OFFSET_TOP=
VITE_FORWARD_QUERY_PARAMS=true
VITE_SHOW_CONTROLS=true
VITE_LOADING_HELP_AFTER=6
VITE_ALLOW_URL_OVERRIDE=false
VITE_ALLOWED_HOSTS=script.google.com,script.googleusercontent.com
VITE_DISABLE_SANDBOX=false
